/* Copyright 2008, Google Inc.  All rights reserved.

   Comment from post css.

*/

body {
  background: transparent;
  font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
  font-size: 13px;
  margin: 0;
}
p {
  margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  a,
  body,
  div,
  input,
  p,
  span,
  td {
    font-family: arial, sans-serif;
    font-size: 13px;
  }
  a {
    color: rgba(0, 158, 184, 1);
    text-decoration: underline;
  }
  input[type="button"] {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    color: #222;
    font: 11px arial;
    font-weight: bold;
    height: 27px;
    margin: 1px 0 0 15px;
    padding-bottom: 0;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    vertical-align: top;
    width: 75px;
    -moz-border-radius: 2px;
    -webkit-appearance: none;
  }
  input[type="button"]:active,
  input[type="button"]:focus:active {
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}
h3 {
  margin: 5px 0;
}

label {
  font-weight: bold;
}

.postCommentButtonHolder {
  margin: .5em 0 0 0;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .postCommentButtonHolder {
    margin: 24px 0 0 -3px;
  }
}
.dialog {
  position: absolute;
  width: 373px;
  color: #000;
}

.dialog h3 {
  margin: 5px 0 10px 0;
}

.dialog h4 {
  margin: 2px 0;
}

.dialog img {
  margin: 2px 0;
}

.dialog input {
  margin: 2px 0;
  position: relative;
}

.dialogField {
  width: 280px;
}

.dialog .group {
  margin: 5px 0;
}

.dialog .top {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/cmt/s_top_373_550.png', sizingMethod='crop');
  background: url(/img/cmt/s_top_373_550.png) top left no-repeat;
  _background: none;
  font-size: 90%;
  padding: 8px 15px 5px 15px;
  margin: 0px;
  _height: 1px; /* IE6 needs a height. Doesn't matter what it is */
}

.dialog .top h3 {
  font-size: 15px;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .dialog .top h3 {
    font-size: 16px;
    font-weight: normal;
  }
}
#captchaHolder .top,
#openIdIdentityHolder .top,
#genericOpenIdIdentityHolder .top,
#nameUrlIdentityHolder .top {
  height: 200px;
}

.dialog .bottom {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/cmt/s_bottom_373.png', sizingMethod='crop');
  background: url(/img/cmt/s_bottom_373.png) bottom left no-repeat;
  _background: none;
  height: 8px;
  font-size: 8px;
}

.dialog .errorMsg {
  padding: 5px 10px;
  background: #F99;
  color: #600;
}

img.close {
  position: relative;
  margin: 5px 0;
  float: right;
  cursor: pointer;
}

img#captcha-img {
  border: 1px solid #ddd;
  padding: 5px 30px;
  background: #fff none repeat scroll 0%;
}

.shown-openid-url {
  color: #888;
  font-style: italic;
}

#openIdUriDisplayUsername {
  color: #000;
}

#postCommentSubmit {
  font-weight: bold;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #postCommentSubmit {
    background-color: #4d90f0;
    border: 1px solid #3079ed;
    color: #fff;
    margin: 1px 0 0 5px;
  }
  #postCommentSubmit:focus {
    box-shadow: inset 0 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -ms-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
  }
}

#id-error, #empty-error, #captcha-error, #openIdDialogErrorHolder,
#genericOpenIdDialogErrorHolder, #nameUrlDialogErrorHolder {
  margin-left: 10px;
  color: #f30;
}

div.errormsg {
  text-align: left;
  background: url("/img/icon_alert15.gif") no-repeat left top;
  padding-left: 24px;
  margin-top: 5px;
  color: #c00;
}

#commentBodyField {
  margin: 5px 0;
  /* Allow for the margins which otherwise add a scrollbar */
  width: 98%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #commentBodyField {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    color: #222;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    margin-left: 4px;
    vertical-align: top;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 1px;
    -webkit-appearance: none;
  }
  #commentBodyField:focus {
    border: 1px solid #4d90f0 !important;
    outline: none;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  }
  #commentBodyField.commentBody-err,
  #commentBodyField.commentBody-err:focus {
    border: 1px solid #dd4b39 !important;
    width: 100%;
    -webkit-box-shadow: none;
  }
}
.extraInfo {
  color: #888;
  font-size: 80%;
}

#LJLabel, #WPLabel, #TPLabel, #AIMLabel, #edit-profile-error,
#main-status-holder, #main-error-holder, #identityHolder, #captchaHolder,
#identityHolder .dialog {
  display: none;
}

#main-status-holder, #main-error-holder {
  margin-top: 5px;
}

#editButton, #settingsButton, #commentDash {
  display: none;
  margin-left: 5px;
}

#info-wrap {
  width: 80%;
}

.error div.errormsg {
  color: #fff;
  display: inline;
}

table {
  font-size: 100%;
  border-width: 0px;
  border-spacing: 0px;
  border-style: none;
  border-collapse: collapse;
}

table.td {
  border-width: 0px;
  padding: 0px;
  border-style: none;
}

table.status-msg {
  margin: auto;
  width: auto;
}

table.status-msg td.corner {
  height: 1px;
  width: 1px;
  line-height: 1px;
  margin: 0;
  background-color: transparent;
}

table.status-msg td.stretch {
  height: 2px;
  line-height: 2px;
  margin: 0;
}

.status-msg a {
  text-decoration: underline;
  padding-left: .2em;
}

.noInfo {
  visibility: hidden;
}

.error .msgcolor {
  background-color: #c00;
  color: #fff;
  visibility: visible;
  font-weight: bold;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .error .msgcolor {
    background: none;
    color: #dd4b39;
    font-weight: normal;
  }
}
.status .msgcolor {
  background-color: #fff1a8;
  color: #000;
  visibility: visible;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .status .msgcolor {
    background: #f9edbe;
    color: #333;
    opacity: 1;
    -webkit-transform: scale(1.00);
    -webkit-transition: all 0.130s, left 0 linear 0;
  }
  .status-msg.status {
    border: 1px solid #f0c36d;
  }
}
table.status-msg img {
  display: block;
}

.saved {
  padding: 0px 5px;
}

div#info-wrap {
  margin-bottom: 4px;
  margin-top: 4px;
}

#subscribe {
  margin-right: 5px;
}

#allHolder {
  width: 98%;
}

#subscribeButtonHolder {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

#main-error, #main-status {
  padding: 2px 6px 2px 6px;
}

.r {
  clear:both;
  display:block;
  margin:0;
  padding:0;
  height:1px;
  line-height:1px;
  font-size:1px;
}

dl {
  display: block;
  margin-bottom:5px;
}

#comments-block {
  color: #000;
  background:#FFF;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  #comments-block {
    background-color: #f1f1f1;
    border: 1px solid #ebebeb;
    height: 115px;
  }
}
#comments-block dl dt {
  width: 318px;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  #comments-block dl dt {
    width: 525px;
  }
}
#comments-block dl dd {
  height: 135px;
  overflow: auto;
  padding-bottom: 1px;
  width: 318px;
}

#preview-actions {
  margin-top: 15px;
}

#comments-block a:link, #comments-block a:visited, #comments-block a:active, #comments-block a:hover {
  color: blue;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  #comments-block a {
    color: rgba(0, 158, 184, 1) !important;
  }
}
#comments-block {
  margin:0;
}

#comments-block dd {
  padding-bottom:.75em;
}

#comments-block dd, #comments-block dd p {
  margin:0 0 .75em;
  line-height:140%;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  #comments-block dd, #comments-block dd p {
    color: #222;
  }
}
#comments-block dt.collapsed {
  font-size:100%;
  margin:0 0 4px 0;
  border-bottom:1px solid #ccc !important;
}

#comments-block dt.collapsed img {
  display:none;
}

#comments-block dt.collapsed img.comment-icon {
  display:inline;
}

#comments-block dd.collapsed {
  display:none;
}

.comment-timestamp {
  margin:-.25em 0 1em;
  color:#777;
  font-size:90%;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  .comment-timestamp  {
    font-size: 11px;
  }
}
.deleted-comment {
  font-style:italic;
  color:gray;
}

#preview-main, #preview-header {
  background:transparent;
}

#preview-image {
  display:none;
  float:none;
  margin-bottom:0;
}

#preview-profile {
  float:right;
}

#preview-main, #preview-header {
  border:1px solid #999;
  padding:1em;
}

#preview-main a, #preview-header a {
  position:relative;
  cursor:pointer;
}

#preview-main {
  border-top:0;
  padding-top:0;
  margin-top:0;
  /* Stupid IE collapses margins when floating elements within definition
  lists */
  _position:relative;
  _margin-top:-1px!important;
}

#preview-header {
  padding-top:.25em!important;
  border-bottom:0;
  padding-bottom:0;
  margin-bottom:0;
 }

#preview-actions {
  font-size:95%;
  /* Stupid IE collpases margins when floating elements within definition
  lists */
  _position:relative;
  _width:100%;
  _margin-top:-1em;
  /* to make the shaded yellow area a little smaller */
  margin-bottom:0!important;
  white-space:nowrap;
}

#preview-actions a {
  margin:0;
  padding:0;
  /* Stupid IE pushes floating links past 100% within our definition
  lists */
  _border:0px solid #fff;
}

#preview-actions .lnk {
  display:block;
  width:47%;
  margin:0;
}

#preview-actions .left {
  float:left;
}

#preview-actions .right {
  float:right;
  margin-left:.2em;
  text-align:right;
}

#preview-body {
  padding-top:1em;
  border-bottom:0;
}

/* Comment Icons */
.comment-icon {
  line-height:16px;
  display:inline;
}

#comments-block #preview-header img {
  margin-bottom:-2px;
}

/* b16-rounded */
.blogger-comment {
  background:no-repeat url("/img/cmt/comment_sprite.gif") -45px -117px;
  width: 16px;
  height: 16px;
}

/* openid16-rounded */
.openid-comment {
  background:no-repeat url("/img/cmt/comment_sprite.gif") -45px -149px;
  width: 16px;
  height: 16px;
}

/* anon16-rounded */
.anon-comment {
  background:no-repeat url("/img/cmt/comment_sprite.gif") -45px -101px;
  width: 16px;
  height: 16px;
}
/* buttons */
#allHolder.previewMode #postCommentButtonHolder,
#allHolder.previewMode #identityControlsHolder,
#allHolder.previewMode textarea,
#allHolder.previewMode select {
  display: none;
}

#allHolder #previewHolder {
  display: none;
}

#allHolder.previewMode #previewHolder {
  display: block;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #previewHolder {
    background-color: #fff;
    border: 1px solid #bbb;
    width: 92%;
  }
}

div.profile-image-container img {
  display: none;
}

.editLink {
  float:right;
  padding:4px 4px 0 0;
}

/* Avatars in preview
-----------------------------*/

#comments-block .avatar-image-container {
  height: 37px;
  left: 1em;
  overflow: hidden;
  position: absolute;
  width: 37px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #comments-block .avatar-image-container {
    top: 2px;
  }
}
#comments-block .avatar-image-container img {
  -ms-interpolation-mode: bicubic;
  border: 1px solid #ccc;
  float: right;
}

#comments-block .avatar-image-container.avatar-stock img {
  /* Override the 1px gray border if it's a stock image. */
  border-width: 0px;
  padding: 1px;
}

#comments-block .avatar-preview-anon .avatar-image-container {
  /* Hide the avatar container if an anonymous comment. */
  display: none;
}

#comments-block .avatar-preview {
  padding-left: 45px;
  width: 296px;
}

#comments-block .avatar-preview #preview-main,
#comments-block .avatar-preview #preview-header {
  width: 273px;
}

/* Styles for uploading image in preview.
-----------------------------*/
img.upload-from-cmt-preview {
  background-color: #FFF;
  border: 1px solid #BBB;
  margin-bottom: 3px;
  padding: 5px;
}

#upload-profile-photo-zippy {
  margin-bottom: 8px;
  display: block;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #upload-profile-photo-zippy {
    margin-top: 10px;
  }
}
#upload-simple-photo-form {
  margin-bottom: 8px;
}

#upload-simple-photo-form p {
  color: #999;
  font-size: 90%;
  padding-bottom: 5px;
}

/* Move the gray border to the parent container and adjust alignment.
-----------------------------*/

#comments-block .avatar-comment-border {
  border: 1px solid #999;
  position: relative;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #comments-block .avatar-comment-border {
    border: 0;
  }
}
#comments-block .avatar-comment-border #preview-main,
#comments-block .avatar-comment-border #preview-header {
  border-width: 0px;
}

#comments-block .avatar-comment-border dd {
  margin-bottom: 0;
}

#comments-block .avatar-comment-border .editLink {
  /* Remove the excess spacing that was originally for the 16x16 icon. */
  padding-top: 0;
}

#comments-block .avatar-comment-border #preview-header {
  /* Add back some spacing to the top, now that there isn't an icon to
     "bump" down the text a little bit. */
  margin-top: 0.25em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #comments-block .avatar-comment-border #preview-header {
    width: 80%;
  }
}
/* Hovercards.
-----------------------------*/

iframe.avatar-hovercard-iframe {
  border: 0px none;
  padding: 0;
  width: 25em; /* 325px / 13 */
  height: 9.4em; /* 122px / 13 */
  margin: 0.5em;
}

.mobile-dialog {
  position: absolute;
  color: #000;
}

#comments-block .mobile-avatar-preview {
  padding-left: 45px;
  margin-bottom: -1px;
}

#comments-block .mobile-avatar-preview #preview-main,
#comments-block .mobile-avatar-preview #preview-header {
  width: 180px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #signoutLink {
    padding-left: 15px;
  }
  #identityControlsHolder {
    padding-top: 8px;
  }
  #postCommentWrapper {
    left: -5px;
  }
  /* Css for drop-down */
  #identityMenu {
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.1);
    color: #444;
    cursor: default;
    display: inline-block;
    height: 27px;
    position: relative;
    text-align: center;
    text-indent: 7px;
    text-decoration: none !important;
    width: 22%;
    -moz-border-radius: 2px;
    -moz-user-select: none;
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
  }
  #identityMenu:focus,
  #identityMenu:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    outline: 1px solid #bbb;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}
